{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mortsubite.css' %}">
</head>
<body>
    <div id='overall_continue'>
        <h1>Memory Game</h1>
            <p>Règle : Votre objectif est de trouver le plus de paires de cartes en 1 minute, le maximum étant de 18 paires trouvables. Bonne chance !</p>
    </div>

    <h2>
        <div id="score">
            <p id="scorebox">
            0/18
            </p>
        </div>
            
        <div id="stopwatch">
            00:00
        </div>
    </h2>
    
    <div id='continue-container'>
        <div id='continue' style="display: none;">
            <p>Félicitations ! Voulez vous rejouer ?</p>
            <div>
                <button class="menubutton" onclick="replay()"><img src="https://cdn.discordapp.com/attachments/1182089346598314026/1182112836302942269/image.png?ex=6583835e&is=65710e5e&hm=9b057e84c26a8fa732c1daa85a5177d02c9d180eed1bca31d2cba2da7a8abf75&"></button>
            </div>
            <div>
                <a href="../home/classement.html"><button class="menubutton"><img src="https://cdn.discordapp.com/attachments/1182089346598314026/1182113000707063939/image.png?ex=65838385&is=65710e85&hm=142bdaf8d4bb20f2a596ce9bd600d94f267e1a82158b918ae1576720ee252633&"></button></a>
            </div>
                
            
        </div>
    </div> 


    <div id='overall_continue2'>
        <div id='startbutton'>
            <button onclick="AddPoint()">Test</button>
            <button onclick="startMemoryGame()" class="menubutton"><img src="https://cdn.discordapp.com/attachments/1159173141554282647/1182123853007290429/image.png?ex=65838da1&is=657118a1&hm=e4835db8d10680032cf82822c13cc493eacb94c8259482c000fc43349e639a74&"></button>
        </div>


        <div id="memory-game-container">
            <!-- La grille du jeu sera insérée ici par JavaScript -->
        </div>
    </div>


    <script src="{% static 'js/mortsubite.js' %}"></script>
</body>
</html>
