<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="topnav">
                <div class="flex-items"><a href="index.html">Home</a></div>
                <div class="flex-items"><a href="contact/contact.php">Contact</a></div>
                <div class="flex-items" id="div-navbar-img"><a href="jeu.html" id="nav-img"><img src="https://www.icone-gif.com/gif/jeux-classique/cartes/cartes012.gif" alt="Wakfu_Logo" height="100px" width="200px" id="Wakfu_Logo"></a></div>
                <div class="flex-items"><a href="topics/topics.php">Nos Guides</a></div>
                <div class="flex-items"><a href="equipe/equipe.php">Qui sommes nous ?</a></div>
                <div class="flex-items" id="div-navbar-img"><a href="formulaire/formulaire_connexion.php" id="nav-img"><img src="https://cdn.discordapp.com/attachments/1159173141554282647/1174418033364713482/image-removebg-preview.png?ex=65678506&is=65551006&hm=9440a8aac0c50c287d511b265ed4f87e38351f262d38af45d67eb3d10ba62c84&" height="60px" width="68px" id="wakfu"><?php echo "$nom_utilisateur" ?></a></div>
            </div>
        </nav>
    </header>

    <section>
        <h1>Memory</h1>
    </section>
</body>
</html>